<h1>Cassandra L Morrison</h1>
<div id="aboutme">
  <%= image_tag("default/DSC_1460.jpg", height: '40%', width: '40%')%>
  <p style="padding-left: 20px;">
    Cassie is a 25 year old Computer Information Systems graduate from the University
    of Houston and is currently working on her debut novel.

    She likes to play video games with her husband and is a freelance photographer
    and wannabe harpist. She studies art and seamstress work in her free time,
    and absolutely loves to sing.

    She is currently working through Draft 2 of her novel which is currently named
    "Project Pistol."
  </p>
</div>